{% extends "network/layout.html" %} {% block body %}
<div class="container mt-4">
  <div class="card shadow-sm p-4">
    <h4 class="mb-3">New Post</h4>
    <form action="{% url 'new_post' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <textarea
          name="value_conteudo"
          class="form-control"
          rows="4"
          placeholder="Escreva algo..."
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary w-100">Publicar</button>
    </form>
  </div>
</div>
{% endblock %}
